
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >GrowTye</a>
    </li>
    <li>
      <a href="#services" onclick = $("#menu-close").click(); >Find More</a>
    </li>
    <li>
      <a href="https://cvatch.github.io/referrals/" onclick = $("#menu-close").click(); >Referral Links</a>
    </li>
    <li>
      <a href="https://cvatch.github.io/deepnft/" onclick = $("#menu-close").click(); >NFT Gallery</a>
    </li>
    <li>
      <a href="https://discord.gg/JMWSV92" onclick = $("#menu-close").click(); >Join Discord</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
