<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Referral link or View Entire Collection on Opensea</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://opensea.io/?ref=0xe773b3dc818ebbcf13f224da7f17c86f87afd0da">
                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://opensea.io/accounts/GrowTye">
       
                <img class="img-portfolio img-responsive" src="img/portfolio-3.JPG">
              </a>
           
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
